{
  "$schema": "https://raw.githubusercontent.com/can1357/oh-my-pi/main/packages/coding-agent/src/config/mcp-schema.json",
  "mcpServers": {
    "user-browser": {
      "type": "stdio",
      "command": "bunx",
      "args": [
        "-y",
        "chrome-devtools-mcp@latest",
        "--no-usage-statistics",
        "--browser-url",
        "http://localhost:9222"
      ],
      "enabled": false
    },
    "admin-browser": {
      "type": "stdio",
      "command": "bunx",
      "args": [
        "-y",
        "chrome-devtools-mcp@latest",
        "--no-usage-statistics",
        "--browser-url",
        "http://localhost:9223"
      ],
      "enabled": false
    }
  }
}